<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tarefas</a>
</nav>

<div class="container">
  <h3 class="mt-5">Tarefas</h3>
  <hr />
  <form [formGroup]="formulario" (ngSubmit)="salvar()">
    <div class="row">


      <div class="col-md-6">
        <div class="form-group">
          <label for="novaTarefa">Tarefa</label>
          <input type="text" class="form-control" id="novaTarefa" placeholder="Título da tarefa"
            formControlName="descricao">
        </div>

      <div class="alerta" *ngIf="formulario.get('descricao')?.errors && formulario.get('descricao')?.touched">
          Campo obritório deve conter pelo menos 5 caracteres
      </div>
     
      <div class="col-md-2">
        <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary top">ADD</button>
      </div>

      <div class="col-md-4 top">
        <label for="novaTarefa">Lista de tarefa</label>
        <ul class="list-group">
          <li *ngFor="let tarefa of listTarefa"
            class="list-group-item d-flex justify-content-between align-items-center">
            <span class="{{ tarefa.realizado ? 'feito' : '' }}">
              {{tarefa.descricao}} {{tarefa.tarefaConcluida}}
            </span>

          
            <div *ngIf="tarefa.id">

              <div class="btn-group" role="group" aria-label="Exemplo básico">
                <button type="button" class="btn btn-primary" 
                  [disabled]="tarefa.realizado"><img class="icon" (click)="finalizarTarefa(tarefa)" src="./assets/icons/done.svg"
                    title="Finalizar" /></button>
                <button type="button" class="btn btn-danger" [disabled]="tarefa.realizado" (click)="delete(tarefa.id)"><img class="icon"
                    src="./assets/icons/delete.svg" title="Excluir" /></button>
              </div>

            </div>
          
          </li>

        </ul>
      </div>

    </div>

  

</div>